In [36]:
import pandas as pd

df = pd.read_csv(r'C:\\Users\User\\Desktop\\SkillKamp\\shipping_data.csv')
df.head()

,Row ID,Order Date,Ship Date,Ship Mode,Customer Name,Segment,Country,City,State,Region,Category,Sub-Category,Cost (US dollar),Quantity
0,1,11/8/2016,11/11/2016,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,South,Furniture,Bookcases,261.9600,2
1,2,11/8/2016,11/11/2016,Second Class,Claire Gute,Consumer,United States,Henderson,Kentucky,South,Furniture,Chairs,731.9400,3
2,3,6/12/2016,6/16/2016,Second Class,Darrin Van Huff,Corporate,United States,Los Angeles,California,West,Office Supplies,Labels,14.6200,2
3,4,10/11/2015,10/18/2015,Standard Class,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,Furniture,Tables,957.5775,5
4,5,10/11/2015,10/18/2015,Standard Class,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,Office Supplies,Storage,22.3680,2

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Row ID            1000 non-null   int64
 1   Order Date        1000 non-null   object
 2   Ship Date         1000 non-null   object
 3   Ship Mode         1000 non-null   object
 4   Customer Name     1000 non-null   object
 5   Segment           1000 non-null   object
 6   Country           1000 non-null   object
 7   City              1000 non-null   object
 8   State             1000 non-null   object
 9   Region            1000 non-null   object
 10  Category          1000 non-null   object
 11  Sub-Category      1000 non-null   object
 12  Cost (US dollar)  1000 non-null   float64
 13  Quantity          1000 non-null   int64
dtypes: float64(1), int64(2), object(11)
memory usage: 109.5+ KB

In [51]:
city_count = df.groupby(['State', 'City'])['Customer Name'].count().sort_values()

In [52]:
city_count = pd.DataFrame(city_count)

In [53]:
city_count.reset_index(inplace = True)

In [55]:
city_count

            State             City  Customer Name
0      New Jersey       Plainfield              1
1      California      Santa Clara              1
2        Illinois      Orland Park              1
3        Michigan  Rochester Hills              1
4            Utah           Layton              1
..            ...              ...            ...
190      Illinois          Chicago             35
191    California    San Francisco             60
192    California      Los Angeles             62
193  Pennsylvania     Philadelphia             71
194      New York    New York City            100

[195 rows x 3 columns]

In [57]:
city_count['City'].duplicated().sum()

21

In [59]:
city_count[city_count['Customer Name'] == 1].count()

State            53
City             53
Customer Name    53
dtype: int64

In [50]:
city_count.sort_values('Customer Name', ascending=False).head(20)['Customer Name'].sum()

550

In [62]:
state_count = df[df['Customer Name']].groupby('State')['Customer Name'].count().sort_values()
state_count

KeyError: "None of [Index(['Claire Gute', 'Claire Gute', 'Darrin Van Huff', 'Sean O'Donnell',\n       'Sean O'Donnell', 'Brosina Hoffman', 'Brosina Hoffman',\n       'Brosina Hoffman', 'Brosina Hoffman', 'Brosina Hoffman',\n       ...\n       'Sara Luxemburg', 'Troy Staebel', 'Roland Fjeld', 'Roland Fjeld',\n       'Mitch Willingham', 'Mitch Willingham', 'Rob Dowd', 'Rob Dowd',\n       'Rob Dowd', 'Rob Dowd'],\n      dtype='object', length=1000)] are in the [columns]"

In [66]:
df.groupby(['State', 'City'])['Cost (US dollar)'].sum().sort_values(ascending=False).head(10)

State           City
New York        New York City    23999.3740
Pennsylvania    Philadelphia     16484.9910
California      San Francisco    12418.4010
                Los Angeles      11865.8050
Texas           Houston          11755.6568
                San Antonio      11452.9980
North Carolina  Burlington        8167.4200
Illinois        Chicago           7655.6610
Michigan        Detroit           7200.7420
California      San Diego         6662.2840
Name: Cost (US dollar), dtype: float64